<header>
  <app-navbar></app-navbar>
</header>
<div *ngIf="users.length === 0">
  <p>No se encuentran usuarios en el sistema.</p>
</div>

<button routerLink="/dashboard/add" class="btn btn-success mb-3">Agregar Usuario</button>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>RUT</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Puntos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.rut }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.points }}</td>
      <td>
        <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Eliminar</button>
        <button routerLink="/dashboard/edit/{{ user.id }}" class="btn btn-warning btn-sm">Editar</button>
      </td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>


