<div class="login">
  <form class="custom-form" method="post" [formGroup]="loginForm">
    <p class="text-danger">{{loginError}}</p>
    <h1>Login</h1>
    <input
      type="email"
      name="email"
      placeholder="Email"
      required="required"
      for="email"
      formControlName="email"
      aria-describedby="emailHelp"
    />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class= "text-danger">
      <div *ngIf="email.errors?.['required']">
        El correo electrónico es requerido.
      </div>
      <div *ngIf="email.errors?.['email']">
        El correo electrónico debe tener un formato válido.
      </div>
    </div>
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
      for="password"
      formControlName="password"
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class= "text-danger">
      <div *ngIf="password.errors?.['required']">
        La contraseña es requerida.
      </div>
    </div>
    <button type="submit" (click)="login()">
      Iniciar sesión
    </button>
  </form>
</div>
