
<div class="login">
  <form class="custom-form" method="post" [formGroup]="loginForm">
    <p class="text-danger">{{loginError}}</p>
    <h1 class="text-center">Inicio de sesión</h1>
    <input
      type="name"
      name="name"
      placeholder="Nombre de usuario"
      required="required"
      for="name"
      formControlName="name"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class= "text-danger">
      <div *ngIf="name.errors?.['required']">
        El nombre de usuario es requerido.
      </div>
    </div>
    <input
      type="password"
      name="password"
      placeholder="Contraseña"
      required="required"
      for="password"
      formControlName="password"
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class= "text-danger">
      <div *ngIf="password.errors?.['required']">
        La contraseña es requerida.
      </div>
    </div>
    <button type="submit" (click)="login()">
      Iniciar sesión
    </button>
  </form>
</div>
